* {
    margin: 0;
    padding: 0;
}

.introducao {

    text-align: center;
}


.Navbar {
    background-color: #333;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.Navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    
}

.Navbar a {
    color: white;
    text-decoration: none;

}

.Navbar a:hover {
    color: rgb(0, 4, 255);
}

.titulo {
    padding: 20px;
}

.foto_brecho {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    
}

body {

    background-color: #403649;
    color: #dfd6cf;
    font-family: "Iansui", cursive;

}


#Produtos {
    text-align: center;
}

.carousel {
    gap: 10px;
    display: flex;

}

.carousel img {
    transition: 0.5s ease-in-out;
}

.imagem {

    width: 300px;
    margin: 1rem auto;
    border-radius: 8px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.imagem img {
    width: 100%;
    height: auto;
}


.flexivel {
    display: flex;
    flex-direction: row;
}

#Contatos {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    align-items: center;
    background-color: #f4f4f4;
    opacity: 0.8;
    border-radius: 10px;
    color: #000;
}

#formulario_Contatos {
    padding: 20px;
    background-color: rgb(86, 86, 86);
}

.rodape {
    background-color: #252525;
    justify-content: center;
    display: flex;
    padding: 2rem;

}